= simple_form_for @budget, wrapper: :horizontal_form do |f|
  = f.error_notification

  .col-md-5
    = f.input :title
    = f.input :amount, :disabled => true if @budget.persisted?
    = f.input :start_date, as: :string
    = f.input :end_date, as: :string
    = f.button :submit, class: 'btn btn-success'