.col-md-6.modal-content.centre
  h1 Debit Amount
  p= "Budget Title: #{@budget.title}"
  p= "Current balance: #{@budget.amount}"
  ruby:
    if @action == 'Debit'
      @url = debit_budget_path(@budget)
    else
      @url = credit_budget_path(@budget)
    end

  = simple_form_for @budget, url: @url, wrapper: :horizontal_form do |f|
    = f.error_notification
    = f.label :amount
    = text_field_tag :amount
    = f.button :submit, class: 'btn btn-success'