h3
  b Listing budgets
  hr

table.table
  thead
    tr.bg-success
      th Title
      th  Amount
      th Start Date
      th End Date
      th.text-center colspan='3' Actions

  tbody
    - @budgets.each do |budget|
      tr
        td = link_to budget.title, budget
        td = budget.amount
        td = budget.start_date
        td = budget.end_date
        td = link_to 'Show', budget
        td = link_to 'Edit', edit_budget_path(budget)
        td = link_to 'Destroy', budget, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Budget', new_budget_path, class: 'btn btn-success'
