#budget_div
  p#notice = notice

  table.table
    thead
      tr.bg-success
        th Title
        th  Amount
        th  Balance
        th Start Date
        th End Date
        th Actions

    tbody
      tr
        td = @budget.title
        td = @budget.amount
        td = @budget.balance
        td = @budget.start_date
        td = @budget.end_date
        td = link_to 'New entry', new_entery_path(budget_id: @budget.id),  { :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}

  #enteries_div
    = render 'enteries/index.html.slim'



  = link_to 'Edit', edit_budget_path(@budget)
  '|
  = link_to 'Back', budgets_path
