.modal-content.centre
  h3 Create Entry
  = simple_form_for @entery,:remote => true, wrapper: :horizontal_form do |f|
    = f.error_notification

    .form-inputs
      = f.input :title
      = f.input :budget_id, :as => :hidden,:input_html => { :value => @budget.id }
      = f.input :amount
      = f.input :type , :collection => [['Debit', 1], ['Credit', 2]]

    .form-actions
      = f.button :submit, class: 'btn btn-success centre'
