.col-md-12
  h2 Enteries
  table.table
    thead
      tr.bg-success
        th Title
        th Amount
        th Type
      tbody
        -@enteries.each do |e|
          tr
            td= e.title
            td= e.amount
            td= entry_type(e.type)
  = will_paginate @enteries