p#notice = notice

p
  strong Title:
  = @entery.title
p
  strong Budget:
  = @entery.budget_id
p
  strong Amount:
  = @entery.amount
p
  strong Type:
  = @entery.type

= link_to 'Edit', edit_entery_path(@entery)
'|
= link_to 'Back', enteries_path
