<!DOCTYPE html>
<html>
<head>
  <title>Owallet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class='navbar navbar-default navbar-inverse'>
  <div class='navbar-text col-md-12'>
    <% if user_signed_in? %>
        <div class="navbar-collapse collapse col-md-8" id="navbar">
          <ul class="nav navbar-nav">


          </ul>
        </div>
        <div class="col-md-4 pull-left">
          <p>
            <%= link_to 'My Budgets', budgets_path, :class => 'navbar-link'  %>
          </p>
        </div>
        <div class="col-md-4 pull-right">
          <p>

            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          </p>
        </div>


    <% else %>
        <%= link_to 'Sign up', new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to 'Login', new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </div>

</nav>
<%= yield %>


<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade"  id="modal-window"  role="dialog">

</div>

</body>
</html>
